@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


.hello {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: brown;
    font-size: 30px;
}